<header id="site-header">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">
            <div class="logo">
                <h1><a href="#">一蓑烟雨</a>
                </h1>
            </div>
        </div><!-- col-md-4 -->
        <div class="col-md-8 col-sm-7 col-xs-4">
            <nav class="main-nav" role="navigation">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="cl-effect-11"><a href="/blog"
                                                    data-hover="Home"><h4>首页</h4></a></li>
                        <li class="cl-effect-11"><a
                                href="/blog"
                                data-hover="Blog"><h4>博文</h4></a></li>
                        <li class="cl-effect-11"><a
                                href="{% url 'article:archives' %}"
                                data-hover="Archives"><h4>时间轴</h4></a></li>
                        <li class="cl-effect-11"><a href="#"
                                                    data-hover="About"><h4>关于</h4></a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- col-md-8 -->
    </div>
</header>
